<div class="signup">
  <div class="page-header">
    <h2>Signup</h2>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="!!error" ><p ng-bind="error.message"></p></div>
  <div class="jumbotron" >
    <form>
      <div class="form-group" ng-class="{'has-error': !!error.errors.email}">
        <input type="text" id="email" data-ng-model="form.email" class="form-control"  placeholder="Email" />
      </div>
      <div class="form-group" ng-class="{'has-error': !!error.errors.password}">
        <input type="password" id="pasword" data-ng-model="form.password" class="form-control"  placeholder="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary" id="submit" data-ng-click="signup()">Signup</button>
        <a class="btn btn-lg btn-info pull-right" ui-sref="login">Login</a>
      </div>
    </form>
  </div>
</div>
